*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* custom component element  */

a {
    text-decoration: none;
    color: var(--clr-white);
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 9rem;
  width: 9rem;
  text-align: center;
  background-color: var(--clr-dark-300);
  transition: background-color 0.2s linear;
}

.element h1 {
  font-size: 2.5rem;
}

.element:hover {
  background-color: var(--clr-dark-500);
  cursor: pointer;
}
